<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="../index.html"><img src="../img/logo.png" alt="Logo Sitio Web" class="img-header"></a>
            <ul class="list-nav">
                <a href="../index.html">Inicio</a>
                <a href="./productos.html">Ver productos</a>
                <a href="./productos.html">Formulario carga de productos</a>
                <a href="#">Login</a>
            </ul>
        </nav>
    </header>
    <main>
       <h1>Empieza a gestionar tus productos ahora</h1>
    </main>
    <footer>
        <p>© Codo a Codo 2024-C1</p>
        <p>Diseñado & Desarrollado por <a href="">test</a> | <a href="">test</a> | <a href="">test</a> | <a href="">test</a></p>
    </footer>

</body>

</html>