<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stock</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="../../public/index.html"><img src="../img/logo.png" alt="Logo Sitio Web" class="img-header"></a>
            <ul class="list-nav">
                <a href="../../public/index.html">Inicio</a>
                <a href="#">Ver productos</a>
                <a href="./formcarga-productos.html">Formulario carga de productos</a>
                <a href="./form-login.html">Login</a>
            </ul>
        </nav>
    </header>
    <h1 class="test">Panel Principal</h1>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <footer>
        <p>© Codo a Codo 2024-C1</p>
        <p>Diseñado & Desarrollado por <a href="">test</a> | <a href="">test</a> | <a href="">test</a> | <a href="">test</a></p>
    </footer>
</body>
</html>