<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../src/logo1.png">
    <script src="https://kit.fontawesome.com/04f66e3763.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/categorias.css">
    <title>Gestor</title>
</head>

<body>

    <header>
        
<div class="header">
    
    <a href="../index.html"><div class="logo"><img src="../src/logo1.png" alt="Logo Sitio Web"><p class="nombrelogo">GestorStock</p></div></a>
    
    <div class="sesion">
                
        <div class="boton_iniciar"><i  class="fa-sharp fa-solid fa-user" style="margin-right: 2px;"></i> Ingresar</div>
    
        <section class="formulario_inicio">
        
            <form action="#" method="get" enctype="application/x-www-form-urlencoded"class="formulario-de-producto-inicio" onsubmit="return validacion_usuario();">
                
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" placeholder="Ingrese nombre de usuario">
                <label id="mensaje-usuario"></label>

                <label for="password">Contraseña:</label>
                <input type="text" id="password" name="password" placeholder="Ingrese la contraseña">
                <label id="mensaje-password"></label>
    
                <input id="submit_iniciar" name="submit_iniciar" type="submit" value="Iniciar Sesion">
                
            </form>
        </section>

        </div>
        
</div>  

    </header>

    <nav>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </div>
        <ul class="nav">
        
            <li><a href="../index.html"><i class="fa-sharp fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/views/productos.html"><i class="fa-solid fa-truck-fast"></i> Productos</a></li>
            <li><a href="/views/proveedores.html"><i class="fa-solid fa-users"></i> Proveedores</a></li>
            <li><a href="/views/categorias.html"><i class="fa-solid fa-tag"></i> Categorías</a></li>
            <li><a href="/views/pedidos.html"><i  class="fa-sharp fa-solid fa-cart-shopping"></i> Pedidos</a></li>
        </ul>
    </nav>
  
    <main>

        <section class="formulario">
        
            <form action="#" method="get" enctype="application/x-www-form-urlencoded"class="formulario-de-producto" onsubmit="return validacion();">
                
                <p><button class="boton_quitar"><i class="fa-solid fa-xmark"></i></button></p>
                
                <h1 class="titulo-pedido">Agregar Categoria</h1>
    
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre de Categoria">
                <label id="mensaje-categoria"></label>

                <label for="proveedor">Seleccione proveedor de productos:</label>
                <select id="proveedor" name="proveedor">
                    <option value="">Seleccione una opcion:</option>
                    <option value="1">Polo</option>
                    <option value="2">Nike</option>
                    <option value="3">Kingstong</option>
                    <option value="4">Puma</option>
                </select>
                <label id="mensaje-seleccion-prov"></label>
    
                <input id="submit" name="submit" type="submit" value="Agregar">
                
            </form>
        </section>

        <h1>Categorias disponibles</h1>
        <div class="boton_agregar"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Agregar Categoria</div>
       
        <div class="cajaprov">
            <div class="table-responsive">
                <table class="cajaprov1">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Proveedor</th>
                            <th style="color: transparent;">-</th>
                            <th style="color: transparent;">-</th>
                        </tr>
                        
                    </thead>
                      
                    <tbody id="categoriaContenedor"></tbody>
                </table>
            </div>
        </div>
        
    </main>
    
    <footer id="footer"></footer>

    <script src="../js/footer.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/categorias.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>