<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../src/logo1.png">
    <script src="https://kit.fontawesome.com/04f66e3763.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/pedidos_estilo.css">
    <title>Gestor</title>
</head>

<body>

    <header>
        
<div class="header">
    
    <a href="/"><div class="logo"><img src="../src/logo1.png" alt="Logo Sitio Web"><p class="nombrelogo">GestorStock</p></div></a>
    <div>
        <a href="/logout">Salir</a>
    </div>
        
</div>  

    </header>
    
    <nav>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </div>
        <ul class="nav">
        
            <li><a href="/"><i class="fa-sharp fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/views/productos.html"><i class="fa-solid fa-truck-fast"></i> Productos</a></li>
            <li><a href="/views/proveedores.html"><i class="fa-solid fa-users"></i> Proveedores</a></li>
            <li><a href="/views/categorias.html"><i class="fa-solid fa-tag"></i> Categorías</a></li>
            <li><a href="/views/pedidos.html"><i  class="fa-sharp fa-solid fa-cart-shopping"></i> Pedidos</a></li>
        </ul>
    </nav>

    <main>
        <section class="formulario">
           
            <form action="/pedido" method="POST" enctype="application/x-www-form-urlencoded"
            class="formulario-de-producto" onsubmit="return validacion();">
            <h1 class="titulo-pedido">Realiza aca tu pedido</h1>
            <label for="nombre">Nombre y Apellido</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre y apellido">
            <label id="mensaje-nombre"></label>

            <label for="mail">Correo</label>
            <input type="email" name="mail" id="mail" placeholder="Ingrese su correo">
            <label id="mensaje-correo"></label>

            <label for="telefono">Telefono</label>
            <input type="tel" name="telefono" id="telefono" placeholder="Ingrese su telefono">
            <label id="mensaje-telefono"></label>

            <label for="direccion">Direccion de entrega</label>
            <input type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion">
            <label id="mensaje-direccion"></label>

                <label for="categoria">Seleccione categoria de productos:</label>
                <select id="categoria" name="categoria">
                    <option value="">Seleccione una opcion:</option>
                    <option value="Ropa">Ropa</option>
                    <option value="Joyeria">Joyeria</option>
                    <option value="Tecnologia">Tecnologia</option>
                    <option value="Otro">Otro</option>
                </select>
                <label id="mensaje-seleccion"></label>

                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" min="1">
                <label id="mensaje-cantidad"></label>

                <label for="descripcion">Deje su comentario para una especificacion <br> de los productos</label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="5" maxlength="1000"></textarea>
                <label id="mensaje-comentario"></label>

                <input id="submit_pedidos" name="submit_pedidos" type="submit" value="Realizar pedido">
            
            </form>
        </section>
    </main>

    <footer id="footer"></footer>
    
    <script src="../js/pedidos.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>