<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../src/logo1.png">
    <script src="https://kit.fontawesome.com/04f66e3763.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Gestor</title>
</head>
<body>
    
    <header>
        <div class="header">
            <a href="../index.html"><div class="logo"><img src="../src/logo1.png" alt="Logo Sitio Web"><p class="nombrelogo">GestorStock</p></div></a>
            <div class="sesion"><a href="/views/login.html"><i  class="fa-sharp fa-solid fa-user"></i> Iniciar Sesión</a></div>
        </div>  

    </header>
    <nav>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </div>
        <ul class="nav">
 
            <li><a href="../index.html"><i class="fa-sharp fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="#"><i class="fa-solid fa-truck-fast"></i> Productos</a></li>
            <li><a href="/views/proveedores.html"><i class="fa-solid fa-users"></i> Proveedores</a></di>
            <li><a href="/views/categorias.html"><i class="fa-solid fa-tag"></i> Categorías</a></li>
            <li><a href="/views/pedidos.html"><i  class="fa-sharp fa-solid fa-cart-shopping"></i> Pedidos</a></li>
            <li><a href="/views/contacto.html"><i class="fa-solid fa-address-book"></i> Contactanos</a></li>
        </ul>
    </nav>

    <script src="../js/index.js"></script>

    <main>
        <h1>Productos disponibles</h1>
        <a href="../views/form.productos.html">Añade un nuevo producto</a>
        <div class="contenedorPadreProd" id="productosContenedor"></div>
    </main>
    <footer>
        <p>© Codo a Codo 2024</p>
        <p>Diseñado & Desarrollado por <a href="">Nasda</a> | <a href="">Lasdasd</a> | <a href="">Pasads</a> | <a href="">Koqwis</a></p>
    </footer>
</body>

</html> 