<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../src/logo1.png">
    <script src="https://kit.fontawesome.com/04f66e3763.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/proveedores.css">
    <title>Gestor</title>
</head>

<body>

    <header>

        <div class="header">

            <a href="/">
                <div class="logo"><img src="../src/logo1.png" alt="Logo Sitio Web">
                    <p class="nombrelogo">GestorStock</p>
                </div>

            </a>
            <div>
                <a href="/logout">Salir</a>
            </div>
        </div>

    </header>

    <nav>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </div>
        <ul class="nav">

            <li><a href="/"><i class="fa-sharp fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/views/productos.html"><i class="fa-solid fa-truck-fast"></i> Productos</a></li>
            <li><a href="/views/proveedores.html"><i class="fa-solid fa-users"></i> Proveedores</a></li>
            <li><a href="/views/categorias.html"><i class="fa-solid fa-tag"></i> Categorías</a></li>
        </ul>
    </nav>

    <main>

        <section class="formulario">

            <form action="/proveedor" method="POST" enctype="application/x-www-form-urlencoded"
                class="formulario-de-producto" onsubmit="return validacion();">

                <p style="border: none;margin: 0;padding: 0;"><button class="boton_quitar"><i
                            class="fa-solid fa-xmark"></i></button></p>

                <h2 class="titulo-pedido">Agregar Proveedor</h2>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre del producto">
                <label id="mensaje-nombre"></label>

                <label for="telefono">Telefono</label>
                <input type="tel" name="telefono" id="telefono" placeholder="Ingrese su telefono">
                <label id="mensaje-telefono"></label>

                <label for="mail">Correo</label>
                <input type="email" name="mail" id="mail" placeholder="Ingrese su correo">
                <label id="mensaje-correo"></label>

                <input id="submit" name="submit" type="submit" value="Agregar">

            </form>
        </section>

        <h1>Proveedores disponibles</h1>
        <div class="boton_agregar"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Agregar Proveedor</div>

        <div class="cajaprov">
            <div class="table-responsive">
                <table class="cajaprov1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th style="color: transparent;">-</th>
                            <th style="color: transparent;">-</th>
                        </tr>

                    </thead>

                    <tbody id="proveedoresContenedor"></tbody>
                </table>
            </div>
        </div>

    </main>

    <footer id="footer">

    </footer>
    <script src="../js/footer.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/proveedores.js"></script>
</body>


</html>